:root {
    --darkBlue: rgb(0, 10, 117); 
    --fontfam:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --hue-wrong:red ;
    --hue-correct:green ;
}
    /* --hue: var(--hue-correct); */


body {
    /* background-color: rgb(169, 171, 207); */
    text-align: center;
}




.quizintro {
    color: var(--darkBlue);
}

#quizyourself {
    font-size: 350%;
    font-family:var(--fontfam);
    padding-top: 100px;
    padding-bottom: 10px;
    font-weight: bold;
}

#knowcode{
    font-size: 160%;
    font-family:var(--fontfam);
    padding-bottom: 30px;
}

 #instructions{
    font-size: larger;
    font-family:var(--fontfam);
    /* text-align: center; MIGHT not need this line*/ 
    margin: 0 auto;
    width: 70%
}

#goodluck {
    font-size:xx-large;
    font-weight: bold;
    font-family:var(--fontfam);
    margin-top: 20px;
}


#startquizbutton {
    font-weight: bold;
    margin-top: 20px;
    padding: 15px;
    font-family: var(--fontfam);
    color: white;
    background-color: var(--darkBlue);
    border-radius: 10px;
    border: 0;
    /* box-shadow: 0 0 5px var(--darkBlue); */
    /* -webkit-appearance: none; PROB DON'T NEED THIS*/
}

#startquizbutton:hover {
    box-shadow: 0 0 5px var(--darkBlue);
    cursor: grab;
    background-color: rgb(89, 89, 174);
}

#startquizbutton:active {
    cursor: grabbing;
    background-color: rgb(89, 89, 174);

}

.top {
    display: flex;
    padding: 30px;
    justify-content: space-between;
}

.timer {
    font-size:large;
    color: var(--darkBlue);
    font-weight:bold;
}
.timerZ {
    font-size:large;
    color: var(--darkBlue);
    font-weight:bold;
    font-family: var(--fontfam);
}

#currentscore {
    font-size: large;
    font-family: var(--fontfam);
    color: var(--darkBlue);
    font-weight: bolder;
    margin: 0 auto;
    justify-content: center;
    /* justify-content: space-between; */
}


#viewhighscores {
    background: none;
    border: none;
    display: flex;
    position: absolute;
    font-size:large;
    color: var(--darkBlue);
    font-weight:bold;
}

#viewhighscores:hover {
    color:rgb(177, 177, 243);
    font-size: larger;
    cursor:grab;
    text-shadow: 0 0 1px rgb(89, 89, 174);;
}


#mainquestion {
    width: 100%;
    display: flex;
    justify-content: center;
} 



#question {
    font-size: 300%;
    margin-bottom: -20px; 
    padding:30px;
    font-family: var(--fontfam);
    color: var(--darkBlue);
}

#multiplechoice {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;    
}

.answeroption {
    font-size: large;
    display: flex; 
    justify-content: center;
    display: block;
    font-family: var(--fontfam);
    color: var(--darkBlue);
    margin: 20px;
    width: 30%;
    padding-top:15px;
    padding-bottom:15px ;
    border-radius: 10px;
    border: none;
}

.answeroption.wrong {
    background-color: var(--hue-wrong);
}
.answeroption.correct{
    background-color: var(--hue-correct);
}   

.nextquestionbtn {
    font-size: x-large;
    font-family: var(--fontfam);
    /* color: var(--darkBlue); */
    margin-top: 70px;
    color: white;
    background-color: var(--darkBlue);
    border-radius: 10px;
    border: 0;
    padding: 20px;
}
.nextquestionbtn:hover {
    box-shadow: 0 0 5px var(--darkBlue);
    cursor: grab;
    background-color: rgb(89, 89, 174);
}

.nextquestionbtn:active {
    cursor: grabbing;
    background-color: rgb(89, 89, 174);

}

.hide {
    display:none;
}

#viewhighscores2 {
    background: none;
    border: none;
    display: flex;
    position: absolute;
    font-size:large;
    color: var(--darkBlue);
    font-weight:bold;
}

#viewhighscores2:hover {
    color:rgb(177, 177, 243);
    font-size: larger;
    cursor:grab;
    text-shadow: 0 0 1px rgb(89, 89, 174);;
}

.answeroption:hover {
    cursor: grab;
    box-shadow: 0 0 5px var(--darkBlue);}

.answeroption:active {
    cursor: grabbing;    
    box-shadow: 0 0 5px var(--darkBlue);
}


/* .homepage {

} */


.highscoretitle {
    font-size: 250%;
    font-family: var(--fontfam);
    margin-top: 50px;
    color: var(--darkBlue);
    font-weight: bolder;

}

