:root {
    --darkBlue: rgb(0, 10, 117); 
    --fontfam:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --hue-wrong:red ;
    --hue-correct:green ;
}

body {
    text-align: center;
}
/* homepage to quiz */
.quizintro {
    color: var(--darkBlue);
}

#quizyourself {
    font-size: 350%;
    font-family:var(--fontfam);
    padding-top: 100px;
    padding-bottom: 10px;
    font-weight: bold;
}

#knowcode{
    font-size: 160%;
    font-family:var(--fontfam);
    padding-bottom: 30px;
}

 #instructions{
    font-size: larger;
    font-family:var(--fontfam);
    margin: 0 auto;
    width: 70%
}

#goodluck {
    font-size:xx-large;
    font-weight: bold;
    font-family:var(--fontfam);
    margin-top: 20px;
}
/* start button changes when hovering and clicking */
#startquizbutton {
    font-weight: bold;
    margin-top: 20px;
    padding: 15px;
    font-family: var(--fontfam);
    color: white;
    background-color: var(--darkBlue);
    border-radius: 10px;
    border: 0;

}

#startquizbutton:hover {
    box-shadow: 0 0 5px var(--darkBlue);
    cursor: grab;
    background-color: rgb(89, 89, 174);
}

#startquizbutton:active {
    cursor: grabbing;
    background-color: rgb(89, 89, 174);

}

.top {
    display: flex;
    padding: 30px;
    justify-content: space-between;
}

.timerZ {
    font-size:large;
    color: var(--darkBlue);
    font-weight:bold;
    font-family: var(--fontfam);
}

#currentscore {
    font-size: large;
    font-family: var(--fontfam);
    color: var(--darkBlue);
    font-weight: bolder;
    margin: 0 auto;
    justify-content: center;
}


/* links to other html page for viewing the highscores */

#viewhighscores {
    background: none;
    border: none;
    display: flex;
    position: absolute;
    font-size:large;
    color: var(--darkBlue);
    font-weight:bold;
}

#viewhighscores:hover {
    color:rgb(177, 177, 243);
    font-size: larger;
    cursor:grab;
    text-shadow: 0 0 1px rgb(89, 89, 174);;
}


/* multiple choice quiz section */
#mainquestion {
    width: 100%;
    display: flex;
    justify-content: center;
} 



#question {
    font-size: 300%;
    margin-bottom: -20px; 
    padding:30px;
    font-family: var(--fontfam);
    color: var(--darkBlue);
}

#multiplechoice {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;    
}

.answeroption {
    font-size: large;
    display: flex; 
    justify-content: center;
    display: block;
    font-family: var(--fontfam);
    color: var(--darkBlue);
    margin: 20px;
    width: 30%;
    padding-top:15px;
    padding-bottom:15px ;
    border-radius: 10px;
    border: none;
}

#nextquestionbtn {
    font-size: x-large;
    font-family: var(--fontfam);
    /* color: var(--darkBlue); */
    margin-top: 70px;
    color: white;
    background-color: var(--darkBlue);
    border-radius: 10px;
    border: 0;
    padding: 20px;
}
#nextquestionbtn:hover {
    box-shadow: 0 0 5px var(--darkBlue);
    cursor: grab;
    background-color: rgb(89, 89, 174);
}

#nextquestionbtn:active {
    cursor: grabbing;
    background-color: rgb(89, 89, 174);

}
/* this is to hide the quizsheet of the HTML so they do not appear together with the*/
.hide {
    display:none;
}

.answeroption:hover {
    cursor: grab;
    box-shadow: 0 0 5px var(--darkBlue);}

.answeroption:active {
    cursor: grabbing;    
    box-shadow: 0 0 5px var(--darkBlue);
}

/* high score page */

.highscoretitle {
    font-size: 250%;
    font-family: var(--fontfam);
    margin-top: 50px;
    color: var(--darkBlue);
    font-weight: bolder;
}

#leaderboard {
    margin: 30px;
    font-family: var(--fontfam);

}

.submitButton {
    font-family: var(--fontfam);
    border-radius: 10px;
    padding: 10px;
    border: 0;
    margin: 20px;
}

/* #homepagebtn {
    font-family: var(--fontfam);
    border: 0;
    font-size: larger;
    font-weight: bolder;
    padding: 15px;
    margin: 20px;
} */